In [1]:
import geopandas as gpd

In [2]:
DEFAULT_CRS = "EPSG:4326"

# lendos shapefiles

In [7]:
hex_iptu = gpd.read_file("data/shapeFiles/WGS84_hex_iptu")
hex_contruco = gpd.read_file("data/WGS84_hex_construcao_open_buildings_2023.gpkg")
hex_cnefe = gpd.read_file("data/shapeFiles/hex_agg_cnef_sp", columns=['fid', 'esp_1', 'esp_sum'])
hex_census = gpd.read_file("data/WGS84_hex_census_2010.gpkg")

In [8]:
hex_census.head()

,id_hex,abbrev_mun,name_muni,code_muni,D1_012_d_sum,D1_017_d_sum,D1_035_d_sum,D1_044_d_sum,hex_fid,geometry
0,89a81009a8bffff,spo,Sao Paulo,3550308.0,152.0,117.0,172.0,175.0,2563,"POLYGON ((-46.43596 -23.58661, -46.43800 -23.5..."
1,89a8108dca7ffff,spo,Sao Paulo,3550308.0,0.0,0.0,0.0,0.0,2564,"POLYGON ((-46.77886 -23.89706, -46.78089 -23.8..."
2,89a81015a8bffff,spo,Sao Paulo,3550308.0,10.0,8.0,11.0,11.0,2565,"POLYGON ((-46.74000 -23.72290, -46.74204 -23.7..."
3,89a810019d7ffff,spo,Sao Paulo,3550308.0,0.0,0.0,0.0,0.0,2566,"POLYGON ((-46.62778 -23.65457, -46.62982 -23.6..."
4,89a8100d9d7ffff,spo,Sao Paulo,3550308.0,217.0,217.0,217.0,217.0,2567,"POLYGON ((-46.62335 -23.50435, -46.62539 -23.5..."

In [9]:
def set_default_crs(gdf):
    return gdf.to_crs(DEFAULT_CRS)

In [10]:
hex_iptu = set_default_crs(hex_iptu)
hex_contruco = set_default_crs(hex_contruco)
hex_cnefe = set_default_crs(hex_cnefe)
hex_census = set_default_crs(hex_census)

# Agrupando arquivos

In [11]:

hex_f = hex_iptu.join(hex_contruco[['hex_fid', 'area_sum', 'area_mean', 'area_median', 'area_std', 'area_var', 'area_count', 'area_const']].set_index("hex_fid"), how='left', on='fid')
hex_f = hex_f.join(hex_cnefe[['fid', 'esp_1', 'esp_sum']].set_index("fid"), how='left', on='fid')
hex_f = hex_f.join(hex_census[['hex_fid', 'D1_012_d_sum', 'D1_017_d_sum', 'D1_035_d_sum', 'D1_044_d_sum']].set_index("hex_fid"), how='left', on='fid')

In [12]:
hex_f.head()

,fid,n_lancamen,id_hex,abbrev_mun,name_muni,code_muni,geometry,area_sum,area_mean,area_median,area_std,area_var,area_count,area_const,esp_1,esp_sum,D1_012_d_sum,D1_017_d_sum,D1_035_d_sum,D1_044_d_sum
0,2563.0,477.0,89a81009a8bffff,spo,Sao Paulo,3550308.0,"POLYGON ((-46.43596 -23.58661, -46.43800 -23.5...",13769.277107,52.554493,43.123784,40.794578,1664.197557,262.0,0.109194,126.0,163.0,152.0,117.0,172.0,175.0
1,2564.0,NaN,89a8108dca7ffff,spo,Sao Paulo,3550308.0,"POLYGON ((-46.77886 -23.89706, -46.78089 -23.8...",1502.033709,150.203371,67.706910,174.333301,30392.099715,10.0,0.011938,5.0,7.0,0.0,0.0,0.0,0.0
2,2565.0,NaN,89a81015a8bffff,spo,Sao Paulo,3550308.0,"POLYGON ((-46.74000 -23.72290, -46.74204 -23.7...",0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,NaN,NaN,10.0,8.0,11.0,11.0
3,2566.0,NaN,89a810019d7ffff,spo,Sao Paulo,3550308.0,"POLYGON ((-46.62778 -23.65457, -46.62982 -23.6...",0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,NaN,NaN,0.0,0.0,0.0,0.0
4,2567.0,69928.0,89a8100d9d7ffff,spo,Sao Paulo,3550308.0,"POLYGON ((-46.62335 -23.50435, -46.62539 -23.5...",61092.031359,168.762518,75.959449,391.982562,153650.328875,362.0,0.484729,137.0,355.0,217.0,217.0,217.0,217.0

# Transformações finais
- fill all na

In [16]:
hex_f.fillna(0, inplace=True)

In [19]:
hex_f.to_file("data/shapeFiles/WGS84_hex_agg", driver='ESRI Shapefile')

/var/folders/kf/12t4yv8j7pg0z8zqbypmj9440000gn/T/ipykernel_37225/4068037512.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  hex_f.to_file("data/shapeFiles/WGS84_hex_agg", driver='ESRI Shapefile')